body
{
	width : 665px;
	height: 950px;
	display: flex;
	border: 1px solid black;
}



#side_left
{
	background-color: #FDD835;
	width: 220px;
	height: 950px;
}

img
{
	margin : 50px 20px 50px 60px;
	border-radius: 50px 50px;
	box-shadow: 0px 0px 6px rgb(60, 60, 60);
}

.left_title
{
	background-color: rgb(60, 60, 60);
	color : #FDD835;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#contact
{
	padding: 5px 10px 5px 20px;
}

#about_me

{
	padding: 5px 20px 5px 20px;
}

#marge_hobbies
{
	margin-top: 300px;
}

#hobbies
{
	display: flex;
}

.border_icon
{
	border: 1px solid black;
	padding: 3px 3px 3px 3px;
	border-radius: 50px 50px;
	margin-right: 20px;
}

#swim
{
	margin-left: 40px;
}


#side_right
{
	width: 445px;
	height: 950px;
}

header
{
	margin-left: 30px;
}

#subtitle
{
	font-size: 18px;
}

#border_subtitle
{
	border-bottom: 1px solid #FDD835;
}
p
{
	font-size: 10.5px;
	font-family: Arial;
	text-align: justify;
}

h1, h2, h3, h4, h5
{
	font-family: sans-serif;
}
