.d-flex {
	display: flex;
}

#side_left
{
	/*background-color: #FDD835;*/
	width: 20%;
}

#side_left > img
{
	display: block;
	margin: 100px auto;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#side_left > h3
{
	padding: 5px 0;
	text-align: center;
	background-color: silver;
}

.center, header, section > p, /*ul, li*/
{
	padding: 20px 20px;
}

ul, li
{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
}

#j-text
{
	text-align: justify;
	margin: 20px 20px;
}

#hobbies
{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 40px auto;
}



#side_right
{
	width: 80%;
}





/* ------------ */





body
{
	
	/*border: 1px solid black;*/
}




#border_job
{
	/*border-bottom: 1px solid #FDD835;*/
}


